.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, var(--secondary), var(--primary));
}

h1, h3 {
    color: white;

}
h1 {
    color: white;
    font-size: 4em;
}
p {
    margin-bottom: 1em;
}

.mission {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    background: linear-gradient(to right, var(--secondary), var(--primary));
}
.mission h2 {
    color: ;
}